<h1> Registrate </h1>

   <%= form_for(@user) do |f| %>
      </br>
      <%= f.text_field :first_name, :placeholder => "Nombre" %>
      </br>
      <%= f.text_field :last_name, :placeholder => "Apellido" %>
      </br>
      <%= f.email_field :email, :placeholder => "email" %>
      </br>
      <%= f.password_field :password, :placeholder => "contraseña" %>
      </br>
      <%= f.submit "Crear una cuenta", class: "btn-submit" %>
      </br>
   <% end %>
